<h3>Create a new Post-it</h3>

<form action="/post_its" method="post">
  <label for="content">Content</label>
  <br />
  <textarea id="content" name="content"></textarea>
  <br />
  <br />
  <input type="submit" name="submit" value="Submit" />
</form>
